n8n-workflows/WF09_BRD_Export_Output.json
{
  "name": "WF09_BRD_Export_Output",
  "nodes": [
    {
      "id": "wf09-n1",
      "name": "WF09 Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {}
    },
    {
      "id": "wf09-n2",
      "name": "Update Status Exporting",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [460, 300],
      "parameters": {
        "operation": "update",
        "tableId": "automation_runs",
        "filterType": "string",
        "filterString": "id=eq.{{ $json.runId }}",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "status", "fieldValue": "exporting" }
          ]
        }
      }
    },
    {
      "id": "wf09-n3",
      "name": "Fetch Assembled Draft",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 300],
      "parameters": {
        "operation": "getAll",
        "tableId": "automation_run_events",
        "returnAll": false,
        "limit": 1,
        "filterType": "string",
        "filterString": "run_id=eq.{{ $('WF09 Trigger').first().json.runId }}&event_type=eq.assembly_complete&order=created_at.desc"
      }
    },
    {
      "id": "wf09-n4",
      "name": "Fetch All Draft Sections",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 480],
      "parameters": {
        "operation": "getAll",
        "tableId": "automation_run_sections",
        "returnAll": true,
        "filterType": "string",
        "filterString": "run_id=eq.{{ $('WF09 Trigger').first().json.runId }}&order=section_name.asc"
      }
    },
    {
      "id": "wf09-n5",
      "name": "Render HTML Preview",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300],
      "parameters": {
        "jsCode": "const runId = $('WF09 Trigger').first().json.runId;\n\n// Get assembled draft from event payload\nlet qaPayload = {};\ntry {\n  qaPayload = JSON.parse($('Fetch Assembled Draft').first().json.payload_json || '{}');\n} catch(e) {}\n\nconst sections = $('Fetch All Draft Sections').all().map(i => i.json);\nconst wordCount = qaPayload.wordCount || 0;\nconst qaReport = qaPayload.qaReport || {};\n\nconsole.log(`[WF09][${runId}] Rendering HTML preview for ${sections.length} sections...`);\n\n// Build HTML preview\nconst tocHtml = sections.map((s, i) => \n  `<li><a href=\"#section-${i}\">${s.section_name}</a></li>`\n).join('');\n\nconst sectionsHtml = sections.map((s, i) => {\n  // Convert basic markdown to HTML\n  let content = (s.content || '').replace(/^## (.+)$/gm, '<h3>$1</h3>').replace(/^### (.+)$/gm, '<h4>$1</h4>').replace(/^\\*\\*(.+?)\\*\\*$/gm, '<strong>$1</strong>').replace(/^- (.+)$/gm, '<li>$1</li>').replace(/(<li>.+<\\/li>)/s, '<ul>$1</ul>').replace(/\\n\\n/g, '</p><p>').replace(/^([^<].+)$/gm, '<p>$1</p>');\n  return `<section id=\"section-${i}\">\n    <h2>${s.section_name}</h2>\n    <div class=\"confidence\">Confidence: ${Math.round((s.confidence || 0.8) * 100)}%</div>\n    <div class=\"content\">${content}</div>\n  </section>`;\n}).join('\\n');\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>BRD - Generated by Consultant OS</title>\n  <style>\n    body { font-family: 'Segoe UI', Arial, sans-serif; max-width: 960px; margin: 0 auto; padding: 2rem; color: #1a202c; background: #fff; }\n    h1 { color: #1e3a5f; border-bottom: 3px solid #0ea5e9; padding-bottom: 0.5rem; }\n    h2 { color: #1e3a5f; margin-top: 2rem; border-left: 4px solid #0ea5e9; padding-left: 1rem; }\n    h3, h4 { color: #2d3748; }\n    .meta { color: #64748b; font-size: 0.875rem; margin-bottom: 2rem; }\n    .toc { background: #f8fafc; border: 1px solid #e2e8f0; padding: 1.5rem; border-radius: 8px; margin: 2rem 0; }\n    .toc ol { margin: 0; padding-left: 1.5rem; }\n    .toc a { color: #0ea5e9; text-decoration: none; }\n    section { margin: 2rem 0; padding: 1.5rem; border: 1px solid #e2e8f0; border-radius: 8px; }\n    .confidence { font-size: 0.75rem; color: #64748b; margin-bottom: 1rem; }\n    .qa-report { background: #fffbeb; border: 1px solid #fbbf24; padding: 1rem; border-radius: 8px; margin: 2rem 0; }\n    table { width: 100%; border-collapse: collapse; margin: 1rem 0; }\n    th { background: #1e3a5f; color: white; padding: 0.5rem; }\n    td { border: 1px solid #e2e8f0; padding: 0.5rem; }\n    ul, ol { padding-left: 1.5rem; }\n    p { line-height: 1.6; }\n  </style>\n</head>\n<body>\n  <h1>Business Requirements Document</h1>\n  <div class=\"meta\">\n    <strong>Generated by:</strong> Consultant OS BRD Automation &nbsp;|&nbsp;\n    <strong>Run ID:</strong> ${runId} &nbsp;|&nbsp;\n    <strong>Date:</strong> ${new Date().toLocaleDateString('en-GB', { year: 'numeric', month: 'long', day: 'numeric' })} &nbsp;|&nbsp;\n    <strong>Sections:</strong> ${sections.length} &nbsp;|&nbsp;\n    <strong>Words:</strong> ~${wordCount.toLocaleString()}\n  </div>\n  <div class=\"qa-report\">\n    <strong>QA Score:</strong> ${Math.round((qaReport.qualityScore || 0.8) * 100)}% quality &nbsp;|&nbsp; ${Math.round((qaReport.consistencyScore || 0.85) * 100)}% consistency\n    ${qaReport.summary ? `<br><em>${qaReport.summary}</em>` : ''}\n  </div>\n  <nav class=\"toc\">\n    <strong>Table of Contents</strong>\n    <ol>${tocHtml}</ol>\n  </nav>\n  ${sectionsHtml}\n</body>\n</html>`;\n\nreturn [{ json: { runId, htmlPreview: html, sectionCount: sections.length, wordCount } }];"
      }
    },
    {
      "id": "wf09-n6",
      "name": "Call DOCX Renderer",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1200, 300],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "SUB_Render_DOCX",
          "mode": "name"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "wf09-n7",
      "name": "Build Output URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300],
      "parameters": {
        "jsCode": "const runId = $('WF09 Trigger').first().json.runId;\nconst docxResult = $input.first().json || {};\n\n// In production, these are real signed URLs from object storage\n// For now, generate placeholder paths that the frontend can reference\nconst baseStorageUrl = process.env.STORAGE_BASE_URL || 'https://storage.consultant-os.com';\n\nreturn [{\n  json: {\n    runId,\n    outputs: {\n      htmlPreviewUrl: `${baseStorageUrl}/runs/${runId}/preview/brd_preview.html`,\n      docxUrl: docxResult.docxUrl || `${baseStorageUrl}/runs/${runId}/exports/brd_document.docx`,\n      pdfUrl: `${baseStorageUrl}/runs/${runId}/exports/brd_document.pdf`,\n      jsonUrl: `${baseStorageUrl}/runs/${runId}/json/brd_model.json`\n    },\n    wordCount: $('Render HTML Preview').first().json.wordCount,\n    sectionCount: $('Render HTML Preview').first().json.sectionCount\n  }\n}];"
      }
    },
    {
      "id": "wf09-n8",
      "name": "Register Output Files",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1680, 300],
      "parameters": {
        "operation": "create",
        "tableId": "automation_run_files",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "run_id", "fieldValue": "={{ $json.runId }}" },
            { "fieldId": "file_role", "fieldValue": "output" },
            { "fieldId": "file_name", "fieldValue": "brd_document.docx" },
            { "fieldId": "mime_type", "fieldValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document" },
            { "fieldId": "storage_url", "fieldValue": "={{ $json.outputs.docxUrl }}" }
          ]
        }
      }
    },
    {
      "id": "wf09-n9",
      "name": "Log Export Event",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1920, 300],
      "parameters": {
        "operation": "create",
        "tableId": "automation_run_events",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "run_id", "fieldValue": "={{ $('Build Output URLs').first().json.runId }}" },
            { "fieldId": "event_type", "fieldValue": "export_complete" },
            { "fieldId": "stage_name", "fieldValue": "export_output" },
            { "fieldId": "payload_json", "fieldValue": "={{ JSON.stringify({ outputs: $('Build Output URLs').first().json.outputs }) }}" }
          ]
        }
      }
    },
    {
      "id": "wf09-n10",
      "name": "Dispatch WF10",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [2140, 300],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "WF10_BRD_Callback_Complete",
          "mode": "name"
        },
        "options": {
          "waitForSubWorkflow": false
        }
      }
    }
  ],
  "connections": {
    "WF09 Trigger": {
      "main": [[{ "node": "Update Status Exporting", "type": "main", "index": 0 }]]
    },
    "Update Status Exporting": {
      "main": [
        [{ "node": "Fetch Assembled Draft", "type": "main", "index": 0 }],
        [{ "node": "Fetch All Draft Sections", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Assembled Draft": {
      "main": [[{ "node": "Render HTML Preview", "type": "main", "index": 0 }]]
    },
    "Fetch All Draft Sections": {
      "main": [[{ "node": "Render HTML Preview", "type": "main", "index": 0 }]]
    },
    "Render HTML Preview": {
      "main": [[{ "node": "Call DOCX Renderer", "type": "main", "index": 0 }]]
    },
    "Call DOCX Renderer": {
      "main": [[{ "node": "Build Output URLs", "type": "main", "index": 0 }]]
    },
    "Build Output URLs": {
      "main": [[{ "node": "Register Output Files", "type": "main", "index": 0 }]]
    },
    "Register Output Files": {
      "main": [[{ "node": "Log Export Event", "type": "main", "index": 0 }]]
    },
    "Log Export Event": {
      "main": [[{ "node": "Dispatch WF10", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "SUB_Callback_Status"
  },
  "meta": {
    "description": "Assembles validated sections into HTML preview and DOCX/PDF exports. Registers output file URLs in Supabase and dispatches WF10 for final callback.",
    "tags": ["brd", "export", "docx", "pdf", "phase-3"]
  }
}
